# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Builds
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Caches
.mypy_cache/
.pytest_cache/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Editor temporary files
*.swp
*.swo

# Python wheel caches
*.whl
